*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

img{
    width: auto;
    border-radius: 50px;
    margin-right: 10px;
    padding: 10px;
    height: 30vh;
    border-radius: 100%;
}

.hero{
    background-color: skyblue;
    height: 100vh;
    display: flex;
    
}

.image{
    width: 30%;
    margin: auto;
    background-color: white;
    height: fit-content;
    display: flex;
    align-items: center;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, .4);
}

.image .name{
    font-weight: bold;
    font-size: 2rem;
}

.image hr{
    width: 100%;
    margin: 5px 0 5px 0;
}